/* !HEADER  */
#header {
    width: 100%;
    height: max-content;
    background-color: #fff;
    border-bottom: solid 1px #ccc;
    position: fixed;
    z-index: 19;
}
.headerBody {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.headerWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 36px;
}
.leftContainer {
    width: max-content;
    height: max-content;
}
.leftContainer h1 {
    font-family: "Raleway";
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 600;
}
.rightContainer {
    display: flex;
    align-items: center;
    position: relative;
    padding: 16px 0;
}
/* *navigation */
.nav_menu {
    width: max-content;
    height: max-content;
    margin: 0 15px;
    display: flex;
}
.nav_menu .menu_list {
    padding: 0 16px;
    position: relative;
    display: flex;
    align-items: center;
}
.menu_list .menu_link {
    font-size: 1.1em;
    transition: 0.3s ease-in-out;
}
.menu_list .menu_link:hover {
    color: gray;
}
.menu_list .a_hrefColor__:hover {
    color: dodgerblue;
}
.menu_list svg {
    margin: 0 8px;
    transition: 0.3s ease-in-out;
    transform: rotate(90deg);
}
.menu_list:last-child:hover svg {
    transform: rotate(0deg);
}
/* *Burger Menu */
.menu_list .sub_menu {
    transform: translate(-20px, 0);
    visibility: hidden;
    transition: 0.3s ease-in-out;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
}
.sub_menu .sub_menu_list {
    background-color: #fff;
    border-left: solid 1px #ccc;
    padding: 6px;
    margin: 4px 0;
    min-width: 136px;
    transition: 0.3s ease-in-out;
}.sub_menu_list .sub_menu_link {
    transition: 0.3s ease-in-out;
    font-family: "RobotoSlab-Medium";
    font-size: 0.8em;
    font-weight: 100;
}
.sub_menu_list:hover .sub_menu_link {
    padding-left: 6px;
    color: dodgerblue;
}

.nav_menu .menu_list:last-child:hover .sub_menu {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
    transform: translate(0px, 0px);
}
/* *Dark Mode Buttons */
.darkModeButton {
    width: max-content;
    height: max-content;
    background-color: transparent;
    border: none;
    outline: none;
    margin-left: 35px;
}
.darkModeButton img {
    width: 26px;
    height: 26px;
}
.darkModeButton img:last-child {
    display: none;
}

/* !SECTION personalInformation */
#personalInformation {
    width: 100%;
    height: 100%;
    padding: 155px 0 55px 0;
}
.section_body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}
.about_information__WRAPPER {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    padding: 0 36px;
}

/* *about_information */
.about_information {
    max-width: 576px;
    margin-right: 25px;
}
.jobTitle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.jobTitle img {
    width: 63px;
    height: 63px;
}
.jobTitle p {
    font-family: "RobotoSlab-VariableFont";
    font-size: 1.4em;
    margin: 5px 0;
    font-weight: 400;
}
.TITLE_WRAPPER {
    background-color: #fff;
}
.aboutInfo {
    font-size: 0.8em;
    line-height: 21px;
    font-family: "Raleway";
}
.userName {
    padding: 6px;
    font-family: "Merriweather";
    font-size: 0.8em;
    margin: 2px 0 6px 0;
    border-left: solid 1px #CCC;
}
.userName h2 {
    font-weight: 100;
}

/* * SKILL TREE STYLE */
.skill_tree {
    width: 100%;
    height: 100%;
}
.skill_tree-title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    margin: 6px 0;
    border-left: solid 1px #CCC;
}
.skill_tree-title img {
    width: 24px;
    height: 24px;
}
.skill_tree-title p {
    font-family: "Merriweather";
    font-weight: 300;
    padding: 0 6px;
}
.skill_tree .LIST_TREE {
    width: 100%;
    height: max-content;
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.markUpStyling,
.programmingLanguage,
.FrameWork {
    position: relative;
    width: max-content;
    height: max-content;
    padding: 8px 0 8px 10px;
}
/* *scroll Bar For Skill Tree */
.skill_treeContent_scroll {
    width: 100%;
    height: 100%;
    overflow: auto;
    max-height: 317px;
}
.skill_treeContent_scroll::-webkit-scrollbar {
    width: 1px;
}
.skill_treeContent_scroll::-webkit-scrollbar-track {
    background-color: #ccc;
}
.skill_treeContent_scroll::-webkit-scrollbar-thumb {
    background-color: dodgerblue;
}
.connectingPoint {
    width: 1px;
    height: 100%;
    background-color: #ccc;
    left: 0;
    position: absolute;
}
.topLine {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #ccc;
    left: 0;
}
.circle {
    width: 8px;
    height: 8px;
    background-color: #ccc;
    position: absolute;
    left: -3px;
    top: 5px;
    border-radius: 50%;
}
.bottomLine {
    position: absolute;
    width: 25%;
    height: 1px;
    background-color: #ccc;
    bottom: -9px;
    left: 0;
}
.LIST_TREE p {
    font-family: "Merriweather";
    font-size: 0.8em;
    padding: 5px 0;
}
.LIST_TREE ol li {
    min-width: 126px;
    margin: 4px 0 4px 0;
    background-color: #fff;
    padding: 4px 16px 4px 9px;
    border-left: solid 1px #bfbfbf;
}
.LIST_TREE ol li a {
    font-weight: 500;
    font-family: "RobotoSlab-Medium";
    font-size: 0.8em;
    cursor: default;
}

/* * image Style */
.imageSocialMediaIconWrapper {
    width: max-content;
    height: max-content;
    display: flex;
    position: relative;
}
.socMedia_SVG_wrapper {
    position: absolute;
    left: 106%;
}
.socMedia_SVG_wrapper svg {
    width: 16px;
    height: 16px;
    transform: rotate(90deg);
    transition: 0.3s ease-in-out;
}
.imageSocialMediaIconWrapper:hover .socMedia_SVG_wrapper svg {
    transform: rotate(-90deg);
}

.user_image {
    width: 326px;
    height: 510px;
    position: relative;
    border: solid 1px #222;
    border-radius: 8px;
    overflow: hidden;
}
.user_image .image {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user_image .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s ease-in-out;
}
.imageSocialMediaIconWrapper:hover .user_image .image img {
    width: 120%;
    height: 120%;
}
.imageSocialMediaIconWrapper .socialMedia {
    display: flex;
    width: 0px;
    height: max-content;
    align-items: start;
    flex-direction: column;
    position: absolute;
    top: 2%;
    left: 100%;
}.imageSocialMediaIconWrapper:hover .socialMedia{
    width: 63px;
}
.socialMedia svg {
    cursor: pointer;
    margin-top: 20px;
    transition: 0.3s ease-in-out;
    transform: translate(15px, 0);
}
.socialMedia svg:hover {
    fill: dodgerblue;
}

/* !SECTIONS */
