@font-face {
    font-family: 'DavidLibre-Medium';
    src: url('./DavidLibre-Medium.ttf');
}
@font-face {
    font-family: 'inter';
    src: url('./inter.ttf');
}
@font-face {
    font-family: 'Raleway-Light';
    src: url('./Raleway-Light.ttf');
}