@font-face {
    font-family: 'RobotoSlab-Medium';
    src: url('./RobotoSlab-Medium.ttf');
}
@font-face {
    font-family: 'Raleway';
    src: url('./Raleway-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'RobotoSlab-VariableFont';
    src: url('./RobotoSlab-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Merriweather';
    src: url('./Merriweather-Regular.ttf');
}